In [1]:
import pandas as pd
df=pd.read_csv('glassdoor_jobs.csv')

In [2]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,"Real World Science, Data Scientist",$92K-$151K (Glassdoor Est.),"Title: Real World Science, Data Scientist\nLoc...",4.0,AstraZeneca\n4.0,"Gaithersburg, MD",-1,10000+ Employees,1913,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
1,Director of Data Sciences,$92K-$151K (Glassdoor Est.),Job Description:\nThis position is responsible...,3.9,Yes Marketing\n3.9,"Omaha, NE",-1,201 to 500 Employees,2000,Subsidiary or Business Segment,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
2,Data Analyst,$92K-$151K (Glassdoor Est.),Summary: The Information Technology Data Analy...,3.6,Girls Inc\n3.6,"Indianapolis, IN",-1,51 to 200 Employees,1945,Nonprofit Organization,Social Assistance,Non-Profit,$5 to $10 million (USD),-1
3,Data Scientist,$92K-$151K (Glassdoor Est.),Job Description:\n\nMetron is seeking talented...,3.0,"Metron, Inc.\n3.0","Reston, VA",-1,51 to 200 Employees,-1,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,$25 to $50 million (USD),-1
4,Data Analyst,$92K-$151K (Glassdoor Est.),Breckenridge Grand Vacations (BGV) is seeking ...,4.3,Breckenridge Grand Vacations\n4.3,"Breckenridge, CO",-1,501 to 1000 Employees,1984,Company - Private,"Hotels, Motels, & Resorts",Travel & Tourism,$10 to $25 million (USD),-1

In [17]:
df=df[df['Salary Estimate'] !='-1']
df.shape

(700, 14)

In [57]:
salary = df["Salary Estimate"].apply(lambda x: x.split(' ')[0])

In [58]:
salary.head()

0    $92K-$151K
1    $92K-$151K
2    $92K-$151K
3    $92K-$151K
4    $92K-$151K
Name: Salary Estimate, dtype: object

In [59]:
salary.unique()

array(['$92K-$151K', '$103K-$166K', '$90K-$149K', '$66K-$114K',
       '$57K-$102K', '$125K-$150K', '$78K-$138K', '$45K-$97K',
       '$88K-$150K', '$64K-$169K', '$81K-$100K', '$127K-$211K',
       '$87K-$143K', '$72K-$125K', '$90K-$146K', '$83K-$136K',
       '$72K-$122K', '$101K-$133K', '$75K-$127K', '$96K-$154K',
       '$75K-$148K'], dtype=object)

In [63]:
clean_salary=salary.apply(lambda x: x.replace('K'," ").replace("$"," "))
clean_salary.unique()

array([' 92 - 151 ', ' 103 - 166 ', ' 90 - 149 ', ' 66 - 114 ',
       ' 57 - 102 ', ' 125 - 150 ', ' 78 - 138 ', ' 45 - 97 ',
       ' 88 - 150 ', ' 64 - 169 ', ' 81 - 100 ', ' 127 - 211 ',
       ' 87 - 143 ', ' 72 - 125 ', ' 90 - 146 ', ' 83 - 136 ',
       ' 72 - 122 ', ' 101 - 133 ', ' 75 - 127 ', ' 96 - 154 ',
       ' 75 - 148 '], dtype=object)

In [75]:
df['min_salary']=clean_salary.apply(lambda x: int(x.split("-")[0]))
df['max_salary']=clean_salary.apply(lambda x: int(x.split("-")[1]))
df['avg_salary']=(df.min_salary+df.max_salary)/2

In [211]:
df.head(2)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,company_text,job_state,same_state,age
0,"Real World Science, Data Scientist",$92K-$151K (Glassdoor Est.),"Title: Real World Science, Data Scientist\nLoc...",4.0,AstraZeneca\n4.0,"Gaithersburg, MD",-1,10000+ Employees,1913,Company - Public,...,Biotech & Pharmaceuticals,$10+ billion (USD),-1,92,151,121.5,AstraZeneca,MD,0,107
1,Director of Data Sciences,$92K-$151K (Glassdoor Est.),Job Description:\nThis position is responsible...,3.9,Yes Marketing\n3.9,"Omaha, NE",-1,201 to 500 Employees,2000,Subsidiary or Business Segment,...,Business Services,Unknown / Non-Applicable,-1,92,151,121.5,Yes Marketing,NE,0,20

In [123]:
df["company_text"]=df.apply(lambda x: x["Company Name"] if x["Rating"] <0 else x["Company Name"][:-4] ,axis=1)
df.company_text

0                            AstraZeneca
1                          Yes Marketing
2                              Girls Inc
3                           Metron, Inc.
4           Breckenridge Grand Vacations
                     ...
695                        Joby Aviation
696                               Ankura
697                  Benefits Data Trust
698    ManTech International Corporation
699                             Roostify
Name: company_text, Length: 700, dtype: object

In [170]:
df["job_state"]=df["Location"].apply(lambda x: x.split(',')[-1]).replace("Illinois",'IL').replace("Utah","UT").replace("Virginia","VA").replace("Missouri","MO").replace("New Jersey","NJ").str.strip()
df.job_state.value_counts()

CA               137
VA                67
NY                53
MD                50
MA                45
IL                32
TX                31
Remote            28
United States     26
WA                20
MO                19
UT                19
CO                18
GA                18
DC                16
OH                14
PA                14
AZ                11
IN                 9
NC                 8
FL                 7
MI                 7
CT                 7
NJ                 7
TN                 6
MN                 6
WI                 5
NE                 4
AL                 3
SC                 3
AR                 2
RI                 2
MS                 2
WY                 1
DE                 1
OR                 1
HI                 1
Name: job_state, dtype: int64

In [183]:
df["age"]=df.Founded.apply(lambda x: x  if x<1 else 2020 -x)
df.age.unique()

array([107,  20,  75,  -1,  36,  81,   9,  63,  26,  51,  43,  32,  74,
        11,   8,  13, 145,   7, 115,  23,   6,  19,  16,  24,  42,   4,
        14, 179,  31,  22,  17,  46,  39,  21,  35,  85,  90,  57,  10,
        29,  28, 112,   0,  27,  15,  48, 106,  62,  58,  55,   5,  69,
        84,  40, 120,  33,  12,  97,  37, 144,  25,  98,  18,  38,  86,
        67,   1, 142, 167,  30,  68,  54,   2, 109,  73,  56,  78, 125,
       119, 169, 113,  45,   3, 105, 117, 133, 114, 170, 140,  52,  59,
        34, 137,  88,  47, 149, 151, 210, 121, 130, 135], dtype=int64)

In [209]:
df[["Founded", "company_text","age"]].head()

   Founded                  company_text  age
0     1913                   AstraZeneca  107
1     2000                 Yes Marketing   20
2     1945                     Girls Inc   75
3       -1                  Metron, Inc.   -1
4     1984  Breckenridge Grand Vacations   36

In [214]:
#Checking Job Description for specific Skills or Tools
df["Job Description"]

0      Title: Real World Science, Data Scientist\nLoc...
1      Job Description:\nThis position is responsible...
2      Summary: The Information Technology Data Analy...
3      Job Description:\n\nMetron is seeking talented...
4      Breckenridge Grand Vacations (BGV) is seeking ...
                             ...
695    Located in Northern California, the Joby Aviat...
696    Ankura is a team of excellence founded on inno...
697    Director of Policy\n\nBenefits Data Trust (BDT...
698    Secure our Nation, Ignite your Future\n\nBecom...
699    Roostify is transforming the mortgage industry...
Name: Job Description, Length: 700, dtype: object

In [224]:
df["python_yn"]=df["Job Description"].apply (lambda x: 1 if "python" in x.lower() else 0)
df["r_yn"]=df["Job Description"].apply (lambda x: 1 if "r studio" in x.lower() or "r-studio" in x.lower()  else 0)
df["spark_yn"]=df["Job Description"].apply (lambda x: 1 if "spark" in x.lower() else 0)
df["aws_yn"]=df["Job Description"].apply (lambda x: 1 if "aws" in x.lower() else 0)
df["excel_yn"]=df["Job Description"].apply (lambda x: 1 if "excel" in x.lower() else 0)


df.excel_yn.value_counts()

0    374
1    326
Name: excel_yn, dtype: int64

In [231]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'min_salary', 'max_salary', 'avg_salary', 'company_text', 'job_state',
       'same_state', 'age', 'python_yn', 'rstudio_yn', 'r_yn', 'spark_yn',
       'aws_yn', 'excel_yn'],
      dtype='object')

In [236]:
df.to_csv("Salary.csv",index=False)